<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>Poštovani/na,</p>
  <p>kreiran vam je korisnički račun sa sljedećim podatcima: <br>
    Email: {{ email }} <br>
    Lozinka: {{ password }}
  </p>
  <p>Možete ga aktivirati na sljedećoj poveznici: <br>{{ activationUrl }}</p>
</body>
</html>